.homepageContainer{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    background-color: black;
}
.leftContainer{
    display: flex;
    flex: 1;
}
.rightContainer{
    display: flex;
    flex: 2;
}

@media only screen and (max-width:800px) {
    .leftContainer{
        display: none;
    }
}